@page "/authors/authorsdetail/{authorId:int}"
@page "/authors/authorsdetail"
@page "/author"

<PageTitle>Authors Detail</PageTitle>
<h3>AuthorsDetail</h3>
<hr/>
<p> @AuthorId J.K. Rowling wrote HarryPotter</p>

@code {
	[Parameter]
	public int AuthorId { get; set; }
}
