@page "/authors"
@inject NavigationManager NavigationManager

<PageTitle>Authors</PageTitle>
<h3>Authors</h3>
	<hr/>
	<a href = "/authors/authorsdetail/11">J.K.Rowling</a>
	<br />
	<button class="btn btn-primary" @onclick="Navigate">J.K.Rowlings</button>

@code {
	private void Navigate()
	{
		NavigationManager.NavigateTo("/authors/authorsdetail/22");
	}
}
